# FILTERING ROWS

In SQL, the WHERE keyword allows you to filter based on both text and numeric values in a table. There are a few different comparison operators you can use:

* = equal
* <> not equal
* < less than
* <p> > greater than </p>
* <= less than or equal to
* <p> >= greater than or equal to </p>

### Simple filtering of numeric values

Can be used for filtering both numbers and 'text'

In [ ]:
SELECT <column/s>
FROM <database>
WHERE <column> <operand> <value>;

### WHERE AND

In [ ]:
SELECT <column>
FROM <database>
WHERE <column> <operand> <value>
AND <column> <operand> <value>;

# Note that you need to specify the column name separately

### WHERE AND OR

What if you want to select rows based on multiple conditions where some but not all of the conditions need to be met? For this, SQL has the OR operator.

In [ ]:
SELECT title
FROM films
WHERE release_year = 1994
OR release_year = 2000;

In [ ]:
# When combining AND and OR, be sure to enclose the individual clauses in parentheses, like so:
SELECT title
FROM films
WHERE (release_year = 1994 OR release_year = 1995)
AND (certification = 'PG' OR certification = 'R');

## BETWEEN

In SQL the BETWEEN keyword provides a useful shorthand for filtering values within a specified range.

In [ ]:
SELECT title
FROM films
WHERE release_year
BETWEEN 1994 AND 2000;

Similar to the WHERE clause, the BETWEEN clause can be used with multiple AND and OR operators, so you can build up your queries and make them even more powerful!

In [ ]:
SELECT name
FROM kids
WHERE age BETWEEN 2 AND 12
AND nationality = 'USA';

## WHERE IN

The IN operator allows you to specify multiple values in a WHERE clause, making it easier and quicker to specify multiple OR conditions!

In [ ]:
# Instead of using this
SELECT name
FROM kids
WHERE age = 2
OR age = 4
OR age = 6
OR age = 8
OR age = 10;

# USE THIS!
SELECT name
FROM kids
WHERE age IN (2, 4, 6, 8, 10);

## LIKE and NOT LIKE

As you've seen, the WHERE clause can be used to filter text data. However, so far you've only been able to filter by specifying the exact text you're interested in. In the real world, often you'll want to search for a pattern rather than a specific text string.

In SQL, the LIKE operator can be used in a WHERE clause to search for a pattern in a column. To accomplish this, you use something called a wildcard as a placeholder for some other values. There are two wildcards you can use with LIKE:

The % wildcard will match zero, one, or many characters in text. For example, the following query matches companies like 'Data', 'DataC' 'DataCamp', 'DataMind', and so on:

In [ ]:
SELECT name
FROM companies
WHERE name LIKE 'Data%';

The _ wildcard will match a single character. For example, the following query matches companies like 'DataCamp', 'DataComp', and so on:

In [ ]:
SELECT name
FROM companies
WHERE name LIKE 'DataC_mp';